a:link {color:#c6302b;}
a:visited {color:#c6302b;}
a:hover {color:#c6302b;}
a:active {color:#c6302b;}
.Wp-Body-P
{
    margin:0.0px 0.0px 12.0px 0.0px; text-align:left; font-weight:400;
}
.Wp-Normal-P
{
    margin:0.0px 0.0px 0.0px 0.0px; text-align:left; font-weight:400;
}
.Wp-Table-Body-P
{
    margin:0.0px 0.0px 12.0px 0.0px; text-align:left; font-weight:400;
}
.Wp-Default-Paragraph-Font-C
{
    font-family:"Verdana", sans-serif;
}
.ui-widget { font-family: ,serif; font-size: 17.6px; }
.ui-widget .ui-widget { font-size: 16.0px; }
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-family: ,serif; font-size: 16.0px; }
.ui-widget-content { border: #aaaaaa; background: #ffffff; color: #222222; }
.ui-widget-content a { color: #222222; }
.ui-widget-header { border: #aaaaaa; background: #cccccc; color: #222222; }
.ui-widget-header a { color: #222222; }
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { border: #aaaaaa; background: #e6e6e6; color: #555555; }
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { color: #555555; }
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { border: #aaaaaa; background: #dadada; color: #212121; }
.ui-state-hover a, .ui-state-hover a:hover { color: #212121; }
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { border: #aaaaaa; background: #ffffff; color: #212121; }
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { color: #212121; }